@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	font-size: 15px;
}
body{
	margin: 0;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* Grid layout start */
#header {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 27px 0;
	background-color:transparent;
	
}
#header .logo {
    float: left;
    line-height: 0;
}

#header .header-nav {
    float: right;
}

#header .header-nav li {
    float: left;
	line-height: 21px;
	font-family: 'open_sansregular';
	font-size: 11px;
	letter-spacing: 0.3em;
	color: rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
}

#header .header-nav li + li {
    margin-left: 35px;
}
@media (max-width: 991px){
	#header .header-nav {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
}
.inner {
	background: url(../img/inner_bg.jpg) no-repeat center / cover;
	height: 100vh;
	text-align: center;
    /*padding-left: 15px;
    padding-right: 15px;
    padding-top: 159px;*/
}
.fas.fa-chevron-down {
	font-size: 15px;
	color: #222;
	
}
.rhomb-icon-inner {
	position: relative;
    bottom: 50px;
}
.inner-content {
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}
#main .inner-content h1 {
	font-family: 'dosisregular', sans-serif;
	font-size: 30px;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255, 255, 255, .9);
}
.subtitle {
	margin-top: 100px;
	display: inline-block;
}
#main .inner-content span {
	font-family: 'open_sanslight', sans-serif;
	font-size: 19px;
	color: rgba(255, 255, 255, .68);
}
.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
	vertical-align: middle;
	margin-left: -15px;
}
@media (max-width: 991px) {
	#main .inner-content h1 {
		margin-bottom: 50px;
		letter-spacing: .7em;
		text-indent: .7em;
	}
}
@media (max-width: 576px) {
	#main .inner-content h1 {
		margin-bottom: 20px;
		letter-spacing: .5em;
		text-indent: .5em;
		font-size: 25px;
	}
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
	}
.container-fluid {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.333333333%
}
.col-2{
	width: 16.666666667%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.333333333%
}
.col-5{
	width: 41.666666667%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.333333333%
}
.col-8{
	width: 66.666666667%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.333333333%
}
.col-11{
	width: 91.666666667%
}
.col-12{
	width: 100%
}
@media (max-width: 1200px) {
	.col-lg-1{
		width: 8.333333333%
	}
	.col-lg-2{
		width: 16.666666667%
	}
	.col-lg-3{
		width: 25%
	}
	.col-lg-4{
		width: 33.333333333%
	}
	.col-lg-5{
		width: 41.666666667%
	}
	.col-lg-6{
		width: 50%
	}
	.col-lg-7{
		width: 58.333333333%
	}
	.col-lg-8{
		width: 66.666666667%
	}
	.col-lg-9{
		width: 75%
	}
	.col-lg-10{
		width: 83.333333333%
	}
	.col-lg-11{
		width: 91.666666667%
	}
	.col-lg-12{
		width: 100%
	}
}
@media (max-width: 991px) {
	.col-md-1{
		width: 8.333333333%
	}
	.col-md-2{
		width: 16.666666667%
	}
	.col-md-3{
		width: 25%
	}
	.col-md-4{
		width: 33.333333333%
	}
	.col-md-5{
		width: 41.666666667%
	}
	.col-md-6{
		width: 50%
	}
	.col-md-7{
		width: 58.333333333%
	}
	.col-md-8{
		width: 66.666666667%
	}
	.col-md-9{
		width: 75%
	}
	.col-md-10{
		width: 83.333333333%
	}
	.col-md-11{
		width: 91.666666667%
	}
	.col-md-12{
		width: 100%
	}
	.d-none-md {
		display: none;
	}
}
@media (max-width: 767px) {
	.col-s-1{
		width: 8.333333333%
	}
	.col-s-2{
		width: 16.666666667%
	}
	.col-s-3{
		width: 25%
	}
	.col-s-4{
		width: 33.333333333%
	}
	.col-s-5{
		width: 41.666666667%
	}
	.col-s-6{
		width: 50%
	}
	.col-s-7{
		width: 58.333333333%
	}
	.col-s-8{
		width: 66.666666667%
	}
	.col-s-9{
		width: 75%
	}
	.col-s-10{
		width: 83.333333333%
	}
	.col-s-11{
		width: 91.666666667%
	}
	.col-s-12{
		width: 100%
	}
	
}
@media (max-width: 576px) {
	.col-xs-1{
		width: 8.333333333%
	}
	.col-xs-2{
		width: 16.666666667%
	}
	.col-xs-3{
		width: 25%
	}
	.col-xs-4{
		width: 33.333333333%
	}
	.col-xs-5{
		width: 41.666666667%
	}
	.col-xs-6{
		width: 50%
	}
	.col-xs-7{
		width: 58.333333333%
	}
	.col-xs-8{
		width: 66.666666667%
	}
	.col-xs-9{
		width: 75%
	}
	.col-xs-10{
		width: 83.333333333%
	}
	.col-xs-11{
		width: 91.666666667%
	}
	.col-xs-12{
		width: 100%
	}
}
/* Grid layout end */
/* Default classes start */

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.bg-black {
	background-color: #111;
}
.bg-grey {
	background-color: #f8f8f8;
}
.mx-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
/* Default classes end */
/* Default component start */
.small-section {
	padding: 70px 0;
}

.default-section {
	padding: 135px 0;
}
.btn {
	font-family: 'open_sansregular', sans-serif;
	border-radius: 3px;
	line-height: 1em;
	cursor: pointer;
	padding: 15px 40px;
	text-transform: uppercase;
	letter-spacing: .2em;
	border: 1px solid transparent;
}
.btn-default {
	padding: 12px 20px;
	font-size: 13px;
	background-color: #323232;
	color: #ffffff;

}
.btn-large:hover {
background-color: #000;
color: white;
border: 1px solid white;
}
.btn-large {
	padding: 15px 40px;
	font-size: 14px;
	background-color: #cfcfcf;
	color: #111111;
	transition: all .2s ease-in
}
.btn-small {
	padding: 10px 15px;
	font-size: 11px;
	background-color: #e5e5e5;
	color: #777777;
}

.title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;
	font-family: 'dosisregular';
}
.title.title-light {
	letter-spacing: .3em;
}
.title.title-white {
	color: #fff;
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 2px;
	font-size: .8rem;
	transform: rotate(45deg);
	height: 23px;
}
.fas.fa-chevron-down {
	margin-top: 5px;
}
.rhomb-icon > * {
	transform: rotate(-45deg);
}
.rhomb-icon > .fa-phone {
	transform: rotate(45deg);
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 40px;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding: 0 13px;
	background-color: #fff;
}
textarea.form-control {
	min-height: 90px;
	padding-top: 10px;
}
/* Default component end */
/* Custom style start */
/* button-back start */
.fas.fa-arrow-up {
	text-align: center;
	color:  rgba(255, 255, 255, .75);
	font-size: 45px;
}
.button-back {
	background-color: #363636;
	position: fixed;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	bottom:30px;
	right: 30px;
	z-index: 999;
	padding-top: 2px;
	text-align: center;
}
/* button-back end */
/* ===== About studio start ===== */
blockquote {
	color: #777777;
	font-family: 'open_sanslight', sans-serif;
	font-size: 24px;
	line-height: 38px;
}
blockquote div {
	font-family: 'open_sansregular', sans-serif;
	letter-spacing: .2em;
	font-size: 11px;
	text-transform: uppercase;
}
.author {
	color: #777777
}
.about-studio .row + .row {
	margin-top: 100px;
}
.team-item-photo {
	height: 438px;
	position: relative;
	perspective: 2000px;
}
.team-item-skills {
	background-color: #000;
	transform: rotateY(180deg);
	padding: 40px;
}
.team-item-photo:hover .team-item-front {
	transform: rotateY(180deg);
}
.team-item-photo:hover .team-item-skills {
	transform: rotateY(360deg);
}

.team-item-skills span {
	font-family: 'open_sansregular';
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, .5);
}
.container-for-flip {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backface-visibility: hidden;
	transition: all .8s ease;
}
.team-item-info span{
	display: block;
}
.team-item-name {
	font-family: 'dosisregular';
	font-size: 15px;
	color: #777777;
	letter-spacing: .4em;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 15px;
}
.team-item-role {
	font-family: 'dosisregular';
	font-size: 12px;
	color: #777777;
	letter-spacing: .4em;
	text-transform: uppercase;
}
.progress-bar {
	
	height: 12px;
	width: 100%;
	position: relative;
	background-color: #363636;
	
}
.progress-name {
	font-family: 'open_sansregular';
	font-size: 11px;
	letter-spacing: .2em;
	line-height: 38px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
}
.progress-bar .progress {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
}
@media (max-width: 767px) {
	.team-item-photo {
		text-align: center;
	}
	.team-item-role {
		margin-bottom: 25px;
	}
	.team-item-photo img {
		width: 100%;
	}
	.team-item-role {
		font-size: 15px;
		}
		.team-item-name {
			font-size: 20px;
		}
	
}


/* ===== About studio end ===== */
/* ===== Services start ===== */
.services-tab ul li.ui-state-active a, .services-tab ul li.ui-state-active a span {
	color: black !important;
}
#tabs li a .services-item {
	font-size: 14px;
	color: grey;
	text-transform: uppercase;
	font-family: 'dosisregular';
	letter-spacing: 0.4em;
}
#tabs li a .services-icon {
	font-size: 48px;
	letter-spacing: 0.5em;
	/*padding-bottom: 30px;*/
	color: gray;
	text-indent: 0.5em;
}
/*#tabs li a span {
	font-size: 48px;
	letter-spacing: 0.5em;
	padding-bottom: 30px;
	color: gray;
	
}*/
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}
.services-tab ul li{
	float: left;
	width: 20%;
	text-align: center;
}

.services-tab ul li span {
	display: block;
}
.services-tab ul li a span:last-child {
	margin-top: 30px;
}
.default-section.services .row {
	height: 160px;
}
@media (max-width: 991px) {
	#tabs li a .services-item {
		letter-spacing: .2em;
	}
}
@media (max-width: 767px) {
	.services-tab ul li {
		width: 33.33333%;
		text-align: center;
		margin-bottom: 20px;
	}
	.services-tab ul li a {
		float: none;
	}
	.default-section {
		padding: 50px 0;
	}
}
@media (max-width: 576px) {
	.services-tab ul li {
		width: 50%;
		text-align: center;
		margin-bottom: 20px;
	}
	.services-tab ul {
		margin-bottom: 30px;
	}
}
/* ===== Services end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper .default-text {
	margin-bottom: 40px;
}
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk-img {
	margin-top: -32px;
}
.default-text {
	font-family: 'open_sanslight', sans-serif;
	font-size: 15px;
	color: #777777;
	line-height: 26px;
}
.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	
}
.title.title-white.title-light {
	margin-bottom: 25px;

}
@media (max-width:767px) {
	.lets-talk {
		margin-top: 150px;
	}
	.lets-talk-wrapper {
		padding: 40px 0;
	}
}
@media (max-width: 576px){
.lets-talk {
	margin-top: 360px;
	text-align: center;
}
}
/* ===== Lets talk end ===== */
/* ===== Portfolio start ===== */
.portfolio-tab ul li.ui-state-active a {
	color: black !important;
}
.portfolio-tab li a {
	font-size: 14px;
	color: rgba(17, 17, 17, .5);
	text-transform: uppercase;
	font-family: 'dosisregular';
	letter-spacing: 0.4em;
}
.portfolio-description {
	font-family: 'open_sanslight', sans-serif;
	font-size: 15px;
	color: #777777;
	max-width: 755px;
	margin: 0 auto;
}
.portfolio-tab ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.portfolio-tab ul {
	max-width: 585px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 80px;
}


.portfolio-tab img {
	width: 100%;
	-webkit-filter: grayscale(100%);
}


.portfolio .row {
	margin: 0;
}
.portfolio .col {
padding: 0;
}

.portfolio {
	padding-bottom: 0;
}

.portfolio-tab img:hover {
	-webkit-filter: grayscale(0%);
}
@media (max-width: 767px) {
	.portfolio-tab ul li {
		width: 100%;
		margin-bottom: 15px;
	}
	.portfolio-tab li + li {
		margin-bottom: 15px;
	}
}
@media (max-width: 576px) {
	.portfolio .title {
		margin-bottom: 25px;
	}
	.portfolio-tab ul {
		margin: 25px 0;
	}
}
/* ===== Portfolio end ===== */
/* ===== Start project start ===== */
@media (max-width: 576px) {
	.start-project h3 {
		font-size: 1rem;
	}
	.start-project {
		padding: 50px 0;
	}
}
/* ===== Start project end ===== */
/* ===== Why choose us start ===== */
.advantage-icon {
	font-size: 48px;
	letter-spacing: 0.5em;
	padding-bottom: 30px;
}
.advantage-title {
	font-family: 'dosisregular', sans-serif;
	padding-bottom: 30px;
	letter-spacing: 0.4em;
	font-size: 14px;
	text-transform: uppercase;
	color: #111111;
	font-weight: normal;
}
@media (max-width: 991px) {
	.why-choose-us .default-text {
		text-align: center;
	}
	.advantage-icon {
		margin-top: 15px;

	}
}
@media (max-width: 991px) {
	.why-choose-us .title {
		margin-bottom: 50px;
	}
}
/* ===== Why choose us end ===== */
/* ===== Reviews start ===== */
.reviews {
	overflow: hidden;
}
.review-wrapper .icon-quote {
	font-size: 32px;
	color: white;
	padding-bottom: 20px;
}
.review-wrapper p {
	font-family: 'open_sanslight', sans-serif;
	font-size: 18px;
	color: rgba(255, 255, 255, .75);
	margin: auto;
}
.review-wrapper .review-author {
	font-family: 'open_sansregular';
	font-size: 11px;
	letter-spacing: 0.2em;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
}
.reviews-carousel {
	padding: 140px 0;
}
.slick-arrow {
	position: absolute;
	/*top: 50%;
	transform: translateY(-50%);*/
	z-index: 1;
	top: 0;
	height: 100%;
	width: 90px;
	cursor: pointer;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-arrow .carousel-button {
	width: 63px;
	height: 63px;
	background-color: white;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	margin-top: -31px;
	margin-left: -31px;
}
.slick-arrow.slick-next .carousel-button{
	right: 0;
	margin-right: -32px;
}
.slick-arrow .carousel-button .fa {
position: absolute;
transform: rotate(45deg);
font-size: 10px;
}
.slick-arrow.slick-next .carousel-button .fa {
top: 15px;
left: 15px;
}
.slick-arrow.slick-prev .carousel-button .fa {
	bottom: 14px;
	right: 17px;
}
.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: bottom;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}
.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}
@media (max-width: 576px) {
	.reviews-carousel {
		padding: 70px 0;
	}
	.review-wrapper h3 {
		font-size: .7rem;
	}
	.review-wrapper p {
		font-size: 14px;
	}
	.review-wrapper .icon-quote {
		font-size: 20px;
	}
}
/* ===== Reviews end ===== */
/* ===== latest news start ===== */
.latest-news button {
	margin-top: 30px;
	margin-bottom: 40px;
}
.latest-news h3 {
	float: left;
}
.container a {
	line-height: 1.2rem;
	float: right;
	font-family: 'dosisregular';
	color: #999;
	letter-spacing: 0.5em;
	font-size: 11px;
	text-transform: uppercase;
}
.news-title h2 {
	font-family: 'dosisregular';
	font-size: 15px;
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: normal;
	color: #777;
	margin-top: 25px;
}
.news-author {
	font-family: 'dosisregular';
	font-size: 11px;
	letter-spacing: .4em;
	text-transform: uppercase;
	color: #777;
	margin-top: 15px;
	margin-bottom: 15px;
}
.latest-news span {
	display: inline-block;
}
.news-discription {
	font-family: 'open_sanslight';
	font-size: 15px;
	line-height: 26px;
	color: #777;
	}
	@media (max-width: 991px) {
		.news-photo img {
			width: 100%;	
		}
		.latest-news .news-item {
		border-top: 2px solid black;
		padding-top: 15px;
		}
	
	}
	@media (max-width: 576px) {
		.latest-news .title {
			font-size: 1rem;
			margin-bottom: 30px;
			text-align: center;
			float: none;
		}
		.latest-news .container a {
			line-height: 1.2rem;
			font-size: 8px;
			margin-bottom: 10px;
	}
}
	
/* ===== latest news end ===== */
/* ===== Subscribe start ===== */
.title-grey {
	font-family: 'dosisregular';
	font-size: 16px;
	letter-spacing: .3em;
	line-height: 26px;
	text-transform: uppercase;
	color: #111;
	font-weight: normal;
	padding-bottom: 20px;
}
.subscribe input {
	max-width: 295px;;
}
.subscribe {
	padding: 80px 0;
}
.subscribe .form-info {
	margin-top: 20px;
}
.latest-news img {
		-webkit-filter: grayscale(100%);
}
.latest-news img:hover {
	-webkit-filter: grayscale(0%);
}
@media (max-width: 576px) {
		.subscribe h3 {
			font-size: 14px;
		}
		.subscribe button {
			margin-top: 20px;
		}
	
}
/* ===== Subscribe end ===== */
/* ===== Contacts start ===== */
.contact-item .rhomb-icon{
	vertical-align: middle;
}
.contact-item-content {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}
.contact-item-content span {
	display: block;
}
.contact-title {
	font-family: 'dosisregular', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: #777;
}
.contact-data {
	font-family: 'open_sanslight', sans-serif;
	line-height: 24px;
	font-size: 15px;
	color: #444;
	white-space: pre;
}
.form-row {
	margin: 0 -5px;
}
.form-row::after {
	content: '';
	clear: both;
	display: block;
}
.form-col {
	width: 50%;
	float: left;
	padding: 0 5px;
}
.contact-form {
	margin-top: 80px;
}
.contact-form .form-control + .form-control {
	margin-top: 10px;
}
.contacts button {
	
	float: right;
}
.contacts .form-submit {
	color: #aaaaaa;
	overflow: auto;
	margin-top: 20px;
}
.form-info{
	font-family: 'open_sansregular';
	font-size: 11px;
	margin-top: 10px;
	display: inline-block;
	color: #aaa;
}
.fas.fa-info-circle {
	font-size: 12px;
	margin-right: 3px;
}

@media (max-width: 767px) {
	.contact-item {
		margin-bottom: 15px;
	}
	.form-col {
		width: 100%;
	}
	.form-col textarea {
		margin-top: 10px;
	}
}
@media (max-width: 576px) {
	.contacts button {
		float: none;
		margin-top: 10px;
	}
	.contacts .form-submit {
		text-align: center;
	}


}
/* ===== Contacts end ===== */
/* ===== Map start ===== */
/* .on-map-block::before {
    content: '';
    display: inline-block;
    height: 100%;
	vertical-align: middle;
} */
.on-map-block span {
	display: block;
}


.map-container {
	position: relative;
}
#map {
	width: 100%;
	height: 410px;
}
.on-map-block {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 410px;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .9);
}
.on-map-block .open-map {
	line-height: normal;
    display: inline-block;
    margin: 0 auto;
}
.rhomb-icon.white-icon {
	color: #111;
	background-color: #fff;
}
.map-container:hover .on-map-block {
	opacity: 0;
}
.open-map span {
	font-family: 'dosisregular';
	font-size: 16px;
	letter-spacing: .3em;
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;
	margin-top: 25px;
}
/* ===== Map end ===== */
/* ===== Footer start ===== */
.transparent-icon {
	background-color: transparent;
	color: black;
	border: 1 px solid black;
}
.rhomb-icon-black {
	display: inline-block;
	width: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 2px;
	font-size: .8rem;
	transform: rotate(45deg);
	border: 1px solid black;
}
.rhomb-icon-black > .fa-facebook-f {
	transform: rotate(-45deg);
}
.rhomb-icon-black > .fa-twitter {
	transform: rotate(-45deg);
}
.rhomb-icon-black > .fa-behance {
	transform: rotate(-45deg);
}
.rhomb-icon-black > .fa-linkedin-in {
	transform: rotate(-45deg);
}
.rhomb-icon-black > .fa-pinterest {
	transform: rotate(-45deg);
}
.rhomb-icon-black:hover {
	background-color: black;
	color: white;
}
.social-nav {
	margin-top: 23px;
}
.social-nav li {
	display: inline;
}
.social-nav li + li {
	margin-left: 13px;
}
.footer-copyright {
	font-family: 'open_sansregular'; 
	text-transform: uppercase;
	font-size: 12 px;
	color: #111;
	letter-spacing: .5em;
	margin-top: 110px;
	
}
.footer-content {
	font-family: 'dosisregular';
	font-size: 11px;
	color: #999;
	margin-top: 15px;
	padding-bottom: 60px;
}
.logo-footer {
	padding-top: 140px;
}
@media (max-width: 576px) {
	.logo-footer {
		padding-top: 40px;
	}
	.footer-copyright {
		margin-top: 40px;
	}
}
/* ===== Footer end ===== */
/* Custom style end */
/* button to top */
#toTop {
	width:50px;
	height: 50px;
	border-radius: 50%;
	border:1px solid #ccc;
	background:#f7f7f7;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:20px; /* отступ кнопки от нижнего края страницы*/
	right:20px;
	cursor:pointer;
	display:none;
	color:#333;
	font-family:verdana;
	font-size:35px;
	}










