@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	font-size: 15px;
}
body{
	margin: 0;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul{
	list-style: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* Grid layout start */
#header {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 27px 0;
	background-color:transparent;
	
}
#header .logo {
    float: left;
    line-height: 0;
}

#header .header-nav {
    float: right;
}

#header .header-nav li {
    float: left;
	line-height: 21pt;
	font-family: 'open_sansregular';
	font-size: 11px;
	letter-spacing: 0.3em;
	color: rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
}

#header .header-nav li + li {
    margin-left: 35px;
}
.inner {
	background: url(../img/inner_bg.jpg) no-repeat center / cover;
	height: 55vw;
	text-align: center;
    /*padding-left: 15px;
    padding-right: 15px;
    padding-top: 159px;*/
}
.inner-content {
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}
#main .inner-content h1 {
	font-family: 'dosisregular', sans-serif;
	font-size: 30px;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255, 255, 255, .9);
}
.subtitle {
	margin-top: 100px;
	display: inline-block;
}
#main .inner-content span {
	font-family: 'open_sanslight', sans-serif;
	font-size: 19px;
	color: rgba(255, 255, 255, .68);
}
.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
	vertical-align: middle;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 30px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.333333333%
}
.col-2{
	width: 16.666666667%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.333333333%
}
.col-5{
	width: 41.666666667%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.333333333%
}
.col-8{
	width: 66.666666667%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.333333333%
}
.col-11{
	width: 91.666666667%
}
.col-12{
	width: 100%
}
/* Grid layout end */
/* Default classes start */

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.bg-black {
	background-color: #111;
}
/* Default classes end */
/* Default component start */
.small-section {
	padding: 70px 0;
}

.default-section {
	padding: 135px 0;
}
.btn {
	font-family: 'open_sansregular', sans-serif;
	border-radius: 3px;
	line-height: 1em;
	cursor: pointer;
	padding: 15px 40px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.btn-default {
	padding: 12px 20px;
	font-size: 13px;
	background-color: #323232;
	color: #ffffff;

}
.btn-large {
	padding: 15px 40px;
	font-size: 14px;
	background-color: #cfcfcf;
	color: #111111;
}
.btn-small {
	padding: 10px 15px;
	font-size: 11px;
	background-color: #cfcfcf;
	color: #777777;
}

.title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;
	font-family: 'dosisregular';
}
.title.title-light {
	letter-spacing: .3em;
}
.title.title-white {
	color: #fff;
}
/* Default component end */
/* Custom style start */
/* ===== About studio start ===== */
blockquote {
	color: #777777;
	font-family: 'open_sanslight', sans-serif;
	font-size: 24px;
}
blockquote div {
	font-family: 'open_sansregular', sans-serif;
	letter-spacing: .2em;
	font-size: 11px;
	text-transform: uppercase;
}
.author {
	color: #777777
}
.about-studio .row + .row {
	margin-top: 100px;
}
.team-item-info span{
	display: block;
}
.team-item-name {
	font-family: 'dosisregular';
	font-size: 15px;
	color: #777777;
	letter-spacing: .4em;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 15px;
}
.team-item-role {
	font-family: 'dosisregular';
	font-size: 12px;
	color: #777777;
	letter-spacing: .4em;
	text-transform: uppercase;
}
/* ===== About studio end ===== */
/* ===== Services start ===== */
.services-tab ul li.ui-state-active a, .services-tab ul li.ui-state-active a span {
	color: black !important;
}
#tabs li a {
	font-size: 14px;
	color: grey;
	text-transform: uppercase;
	font-family: 'dosisregular';
	letter-spacing: 0.4em;
}
#tabs li a span {
	font-size: 48px;
	letter-spacing: 0.5em;
	padding-bottom: 30px;
	color: gray;
}
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}
.services-tab ul li{
	float: left;
	width: 20%;
	text-align: center;
}

.services-tab ul li span {
	display: block;
}
.services-tab ul li a span:last-child {
	margin-top: 30px;
}
.default-section.services .row {
	height: 160px;
}
/* ===== Services end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper .default-text {
	margin-bottom: 40px;
}
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk-img {
	margin-top: -32px;
}
.default-text {
	font-family: 'open_sanslight', sans-serif;
	font-size: 15px;
	color: #777777;
}
.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	
}
.title.title-white.title-light {
	margin-bottom: 25px;

}
/* ===== Lets talk end ===== */
/* ===== Portfolio start ===== */
.portfolio-tab ul li.ui-state-active a {
	color: black !important;
}
.portfolio-tab li a {
	font-size: 14px;
	color: rgba(17, 17, 17, .5);
	text-transform: uppercase;
	font-family: 'dosisregular';
	letter-spacing: 0.4em;
}
.portfolio-description {
	font-family: 'open_sanslight', sans-serif;
	font-size: 15px;
	color: #777777;
	max-width: 755px;
	margin: 0 auto;
}
.portfolio-tab ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.portfolio-tab ul {
	width: 585px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 80px;
}


.portfolio-tab img {
	width: 100%;
}
.portfolio-tab .col-4 {
	padding: 3.5px;
}
/*.portfolio-tab .col-4 + .col-4 {
	padding-left: 5px;
}*/
.portfolio {
	padding-bottom: 0;
}
.portfolio-tab img{
	-webkit-filter: grayscale(100%);
	
}
.portfolio-tab img:hover {
	-webkit-filter: grayscale(0%);
}

/* ===== Portfolio end ===== */
/* ===== Why choose us start ===== */
.advantage-icon {
	font-size: 48px;
	letter-spacing: 0.5em;
	padding-bottom: 30px;
}
.advantage-title {
	font-family: 'dosisregular', sans-serif;
	padding-bottom: 30px;
	letter-spacing: 0.4em;
	font-size: 14px;
	text-transform: uppercase;
	color: #111111;
	font-weight: normal;
}
/* ===== Why choose us end ===== */
/* ===== Reviews start ===== */
.review-wrapper .icon-quote {
	font-size: 32px;
	color: white;
	padding-bottom: 20px;
}
.review-wrapper p {
	font-family: 'open_sanslight', sans-serif;
	font-size: 18px;
	color: rgba(255, 255, 255, .75);
	margin-bottom: 25px;
}
.review-wrapper .review-author {
	font-family: 'open_sansregular';
	font-size: 11px;
	letter-spacing: 0.2em;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
}
.reviews-carousel {
	padding: 140px 0;
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}
.slick-dots li {
	display: inline-block;
	vertical-align: bottom;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}
.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}

/* ===== Reviews end ===== */
/* Custom style end */










